body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}
header{
    background-color: #ffe53a;
    display: flex;/*Para volver resonsive*/
    height: 10vh;
    justify-content: center;/*Para dejar los elementos a los costados*/
    padding: 0 5px;/*Para modificar el margen interno, el primero no afecta el margen de arriba ni abajo, quiero solo de iz a derecha*/
}
h1{
    margin: 0px;
    font-size: 1.5rem;/*dos veces o 1.5 acepta decimales. lo que hay en el contenedor padre en este caso seria de header y este a su vez viene de bodý donde hay una unidad*/
}
h1, nav{
    display: inline-block;
}
nav{
    align-items: center; /*Para centrar*/
    display: flex;
    justify-content: space-around;/*Para dejar centrado con espacio igual*/
    width: 20%;
}
nav a{
    font-size: .9rem;
    text-decoration: none;
    padding: 15px 15px;/*Es para que el cuadro que cuando se ponga el mouse en ese valor cambie*/
}
nav a:hover{
    background-color: #cd023d;
}
main{
    display: flex;
    flex-direction: row;/*Si quiero cambiarlo para que salga a la derecha, seria con row-reverse*/
}
aside, section{
    height: 80vh;
}
aside{
    align-items: center;
    background-color: #797772;
    flex-direction: column;
    width: 10%;
    display:flex;
}
aside a{
    color: black;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
}
aside a:hover{
    background-color:#cd023d;
    padding: 0 100%;
}
section{
    display: flex;
    background-color: #e2e2e2;
    flex-flow: row wrap;
    width: 90%;
}
article{
    flex: 1 1 30%;
    text-align: center;
}
img{
    height: 150px;
}
footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffff73;
    height: 10vh;
    width: 100%;
}
p, footer a{
    color:chocolate;
    font-size: 1rem;
}
p{
    display: inline;
    margin: 0;
}
.marginizq{
    margin-left: 5px;
}

